<h5><%= @topic.title %></h5>
<div class="input-field">
  <textarea class="materialize-textarea"></textarea>
  <button class="btn">add comment</button>
</div>



<script>
  document.addEventListener('DOMContentLoaded', () => window.createSocket(<%= @topic.id %>))
</script>